body{ 
background-color:grey; }
1{
font-size: 30px;
color: #1A438F;
}
h2{
font-size: 20px; 
color: #85CFC6;
}

.large {
font-size: 60px;
}

.uppercase {
text-transform: uppercase;
}
.large.uppercase {
color: #096636;
}
h1 span {
color:violet;
	}